.primary {
    padding: 14px 23px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31AE54;
    color: #fff;
    border-radius: 5px;
}